
// four ---------------------------- //
.four{
	
	background-color: none;
	
	.active, 
	.marker{
		position:absolute;
		width:10px;
		height:10px;
		background-color:$green;
	
		margin-top:100px;
		margin-left:70px;
		
	}
	
	.marker{
		background:none;
	}
	
	
}
