// one ---------------------------- //
.one{
    text-align: center;
	
	#box {
		
	  position:absolute;
	  top:80px;
	  left:0;
	  right:0;
	  margin:0 auto;
	  background-color: $green;
	  width: 100px;
	  height: 100px;
	  cursor: pointer;

     }
}
.one.on{
	h1{
		position:absolute;
		top:0;
		left:0;
		color: #FFF;
		
		 span {
		    color: $drkgrey;
		 }
		  
	}
}