// six ---------------------------- //
.content.six{
    background-color:$green;
	height:400px;
	
	h1{
		display:block;
		color: #FFF;
		span {
		    color: #FFF;
		}
	}
	
	.nav{
	    padding-top: 20px;
		clear:both;
		overflow:auto;
		text-align: center;
		
		button{
			padding:10px;
			font-size: 15px;
			font-weight: 200;
			background-color: $drkgrey;
			color:#FFF;
			border:none;
			border-radius: 5px;
			cursor:pointer;
			transition: all .5s ease;
			
			&:hover{
				background-color: $green;
			}
		}
	}
	
	.demo{
	  margin:0 auto;
	  width:600px;
	  height:100%;;
	  overflow:hidden;
	  position:relative;
	  
	}
	
	.bubble{
	  border-radius: 50%;
	  position: absolute;
	}
	
	.smallBubble{
		width:20px;
		height:20px;
		background-color:rgba(255, 255, 255, 0.55);
	}
	
	.mediumBubble{
		width:30px;
		height:30px;
		background-color:rgba(255, 255, 255, 0.75);
	}
	
	.largeBubble{
		width:40px;
		height:40px;
		background-color:rgba(255, 255, 255, 0.65);
	}

}