// three ---------------------------- //
.three{
	background-color: $green;
	box-shadow: inset 3px 3px 10px 1px rgba(0, 0, 0, 0.05);

	h1{
		color: #FFF;
		span {
		    color: #FFF;
		}
	}
				
	#container{
	  position:relative;
	  top:100px;
	  left:50%;
	  margin-left:-150px;
	  width:300px;
	 
	  .dot{
	  	width:20px;
	  	height:20px;
	  	background:#fff;
	  	position:absolute;
	  	border-radius:50%;
	  }
	  
	}
}