// two ---------------------------- //
.two{
	
	.box {
	  background-color: $green;
	  position: absolute;
	  top: 225px;
	  left: 35%;
	  width: 200px;
	  height: 200px;
	  transform: translate(-155%, -50%);
	  overflow: hidden;
	}
	
	#box2 {
	  left: 65%;
	}
	#box3 {
		left: 95%;
	}
	
	.boxSmall {
	  position: absolute;
	  width: 100px;
	  height: 100px;
	  background-color: black;
	  z-index: 1;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	}
}