<div class="content four">
	
	<h1><strong>Green<span>Sock</span></strong> - Bezier Animation</h1>
	
	<div class="marker" id="rotate"></div>
	<div class="marker" id="rotate2"></div>
	
</div>

<script>
	
	var path1 = [{x:0, y:0},{x:100, y:100},{x:200,y:0},{x:300,y:100},{x:400,y:0}],
	path2 = [{x:0,y:0},{x:100,y:-50},{x:200,y:400},{x:300,y:300},{x:400,y:400}],
	curve1 = [], point1, curve2 = [], point2,
	dot1,
	
	rotate = $("div#rotate"),rotate2 = $("div#rotate2"),
	
	amount = 50,
	
	tween1 = TweenMax.to(rotate, amount,
	{
		bezier:
		{
			values:path1, autoRotate:true
		},
		paused:true, ease:Linear.easeNone
	}),
	
	tween2 = TweenMax.to(rotate2, amount,
	{
		bezier:
		{
			values:path2, autoRotate:true
		},
		paused:true, ease:Linear.easeNone
	}),
	
	count = 0;

	TweenMax.set(rotate, {x:0,y:0,rotation:0});
	TweenMax.set(rotate2, {x:0,y:0,rotation:0});
	
	for(var i = 0; i <= amount; i++){
		
		dot1 = $('<div />' ,{id:'dot1-' + i}).addClass('active').appendTo('.four');
		tween1.time(i);
		tween2.time(i);
		
		point1 = {x:rotate[0]._gsTransform.x, y:rotate[0]._gsTransform.y, rotation:(rotate[0]._gsTransform.rotation)};
		point2 = {x:rotate2[0]._gsTransform.x, y:rotate2[0]._gsTransform.y, rotation:(rotate2[0]._gsTransform.rotation)};
		
		curve1.push(point1);
		curve2.push(point2);
		
		TweenMax.set($("div#dot1-"+i), {x:point1.x, y:point1.y, rotation:point1.rotation+'_short', delay:.05*i});
	}
	
	setTimeout(function(){
		morphBezier();
	},(amount*.05*1000) + 500);
	
	function morphBezier(){
		$.each($("div.active"),function(index,element)
		{
			TweenMax.to(element, 1, {x:curve2[index].x, y:curve2[index].y, rotation:curve2[index].rotation+'_short', repeat:-1, yoyo:true, repeatDelay:1});
		});
	}

</script>