<div class="content one">
	<h1><strong>Green<span>Sock</span></strong> - Simple Box Scale using TweenMax</h1>
	<div id="box"></div>
</div>

<!-- greensock -->
<script>
	
	$('#box').hover(
	   function() {
		  // roll over
		  $('.one').addClass('on');
	      TweenMax.to($(this), 0.3, {scale:3.8});
	   },
	   function() {
		  // roll out
		  $('.one').removeClass('on');
	      TweenMax.to($(this), 0.15, {scale:1});  
	   }
	);
	
</script>