<div class="content six">
	
	<h1><strong>Green<span>Sock</span></strong> - The uncola 7-up bubbles: timeScale() animations</h1>
	
	<div class="demo" id="bubbleContainer"></div>
	
	<div class="nav">
    	<button id="slow">Slow</button>
		<button id="fast">Fast</button>
		<button id="normal">Just right</button>
  	</div>
  	
  
</div>

<script>
	
	var sizes = ["small", "medium", "large"],
    bubbleContainer = document.getElementById("bubbleContainer"),
    slowBtn = document.getElementById("slow"),
    normalBtn = document.getElementById("normal"),
    fastBtn = document.getElementById("fast"),
    startY = 250,
    endY = -50;


	//build the timeline
	
	var particles = new TimelineMax();
	
	for (var i = 0; i < 50; i++) {
	  var sizeIndex = randomNumber(0,2); //get random number between 0 and 2
	  var size = sizes[sizeIndex]; //get random size
	  var speed = (3 - sizeIndex) //larger faster
	  var bubble = $('<div class="bubble ' + size + 'Bubble"/>').appendTo(bubbleContainer); //create a bubble
	  particles.set(bubble, {y:startY, x:300}, 0) // place it at the bottom
	  
	  //create an animation at a random start time
	  particles.to(bubble, speed, {y:endY, x:randomNumber(0, 600), repeatDelay:Math.random()*2, repeat:500}, Math.random() * 2)
	}
	  
	 // control the timeScale() of the timeline
	
	normal.onclick = function() {
	  TweenLite.to(particles, 2, {timeScale:1, ease:Linear.easeNone}); // normal speed
	}
	
	slow.onclick = function() {
	  TweenLite.to(particles, 2, {timeScale:0.1, ease:Linear.easeNone}); // 1/10th normal speed
	}
	
	fast.onclick = function() {
	  TweenLite.to(particles, 2, {timeScale:4, ease:Linear.easeNone}); // 4 times as fast
	}
	  
	function randomNumber(min, max){
		return Math.floor(Math.random() * (1 + max - min) + min);
	}
	
</script>