<div class="content three">
	
	<h1><strong>Green<span>Sock</span></strong> - Loading Animation</h1>
	
	<div id="container">
    	<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
		<div class="dot"></div>
	</div>
	
</div>

<script>
	
	
	var loaderItems = $("div.dot"),
    loaderAmount = loaderItems.length,
    container = $("div#container"),
    angle = 360 / loaderAmount,
    tl = new TimelineMax({
      paused: true,
      repeat: -1,
      delay: 1.15
    }),

    //Spin velocity, smaller the value, faster it rotates
    spinSpeed = 0.05;

	TweenMax.set(container, {
	  perspective: 300
	});
	
	$.each(loaderItems, function(i) {
	  var alpha = (0.1 * i) + .3;
	
	  TweenMax.set($(this), {
	    left: 150,
	    top: 100
	  });
	
	  TweenMax.to($(this), 1, {
	    rotationY: ((i + 1) * angle),
	    transformOrigin: '50% 50% -100px',
	    autoAlpha: alpha
	  });
	
	  tl.set(loaderItems, {
	    rotationY: ('+=' + angle),
	    transformOrigin: '50% 50% -100px',
	    ease: Linear.easeNone,
	    delay: spinSpeed
	  })
	});
	
	tl.play();


</script>