<div class="content two">
	
	<h1><strong>Green<span>Sock</span></strong> - Multiple Box TimelineMax Animation</h1>
	
	<div id="box" class="box">
	  <div class="boxSmall"></div>
	</div>
	
	<div id="box2" class="box">
	  <div class="boxSmall"></div>
	</div>
	
	<div id="box3" class="box">
	  <div class="boxSmall"></div>
	</div>
		
</div>

<!-- greensock -->
<script>
	
	// return a random numner
	var getRandom = function(min, max) {
		return min + Math.random() * (max - min);
	}
	

	
	var $box = $('.box'), 	// get the box element
    mainTl = new TimelineMax({repeat: -1, repeatDelay: 1}); //setup the main timeline
    
    // loop through elements
	$box.each(function(index, element){

		var $boxSmall = $(this).find('.boxSmall'),
	      $box = $(this),
	      delay = getRandom(1, 1.7),
	      boxTl = new TimelineMax({delay: delay}); // new box timeline
	
		// Add tweens to the box timeline
		boxTl.from($box, 0.3, {autoAlpha: 0, y: '-=80', ease:Bounce.easeOut})
		
			 .fromTo($boxSmall, 1, {y:'-=80'}, {y: '0', ease:Bounce.easeOut})
			 
			 .to($box, 1, {rotation: '45',ease:Power4.easeInOut})
			 
			 .to($boxSmall, 1, {x: '0', ease:Bounce.easeOut}, '-=0.6')
			 
			 .to($box, 1, {rotation: '-45',ease:Power4.easeInOut})
			 
			 .to($boxSmall, 1, {x: '-100%', ease:Bounce.easeOut}, '-=0.6')
			 
			 .to($boxSmall, 0.3, {scale: 2, transformOrigin: 'bottom left', autoAlpha: 0.5, ease:Power0.easeNone})
			 
			 .to($box, 0.5, {rotation: 720, autoAlpha: 0, scale: 0.3,ease:Power4.easeIn}, '+=0.2');
	
	   
	    // add box timeline to the main timeline
	    mainTl.add(boxTl, '0');

	}); // each end loop


</script>