body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  text-align: center; }
  body *, body *:before, body *:after {
    box-sizing: border-box; }
  body nav,
  body section {
    display: inline-block;
    position: relative;
    vertical-align: top;
    padding: 20px;
    margin-top: 75px;
    text-align: left; }
  body nav {
    width: 10vw; }
    body nav h2 {
      padding: 0;
      margin: 0 0 20px 0; }
    body nav ul {
      padding: 0;
      margin: 0;
      list-style-type: none; }
      body nav ul li {
        padding: 5px;
        margin-bottom: 15px;
        border-bottom: 1px solid #CCC;
        cursor: pointer;
        transition: all 0.5s ease; }
        body nav ul li:hover {
          color: #78b721;
          border-bottom: 1px solid #78b721; }
      body nav ul li.on {
        color: #78b721;
        border-bottom: 1px solid #78b721; }
  body section {
    width: 80vw;
    border-radius: 10px; }
    body section h1 {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: center;
      font-size: 16px;
      color: #666;
      font-weight: 300;
      text-align: center;
      z-index: 100;
      transition: ease 0.3s color; }
      body section h1 span {
        color: #78b721; }
    body section .content {
      position: relative;
      height: 75vh;
      border-radius: 10px; }

.one {
  text-align: center; }
  .one #box {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    margin: 0 auto;
    background-color: #78b721;
    width: 100px;
    height: 100px;
    cursor: pointer; }

.one.on h1 {
  position: absolute;
  top: 0;
  left: 0;
  color: #FFF; }
  .one.on h1 span {
    color: #666; }

.two .box {
  background-color: #78b721;
  position: absolute;
  top: 225px;
  left: 35%;
  width: 200px;
  height: 200px;
  transform: translate(-155%, -50%);
  overflow: hidden; }

.two #box2 {
  left: 65%; }

.two #box3 {
  left: 95%; }

.two .boxSmall {
  position: absolute;
  width: 100px;
  height: 100px;
  background-color: black;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.three {
  background-color: #78b721;
  box-shadow: inset 3px 3px 10px 1px rgba(0, 0, 0, 0.05); }
  .three h1 {
    color: #FFF; }
    .three h1 span {
      color: #FFF; }
  .three #container {
    position: relative;
    top: 100px;
    left: 50%;
    margin-left: -150px;
    width: 300px; }
    .three #container .dot {
      width: 20px;
      height: 20px;
      background: #fff;
      position: absolute;
      border-radius: 50%; }

.four {
  background-color: none; }
  .four .active,
  .four .marker {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #78b721;
    margin-top: 100px;
    margin-left: 70px; }
  .four .marker {
    background: none; }

.five button {
  padding: 12px 30px;
  box-shadow: none;
  border: none;
  color: #FFF;
  cursor: pointer;
  background-color: #666;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 200;
  letter-spacing: 2px;
  transition: all 0.5s ease; }
  .five button:hover {
    background-color: rgba(0, 0, 0, 0.35); }
  .five button:focus {
    outline: none; }

.five #list {
  width: 250px;
  width: 90%;
  width: 0;
  position: relative;
  display: block;
  margin-top: 50px; }

.five .tile {
  display: block;
  position: absolute;
  background-color: #78b721;
  color: #FFF;
  padding: 5px;
  font-weight: bold; }

.five .layout {
  padding: 75px 0 15px 0; }
  .five .layout label {
    margin-right: 15px;
    cursor: pointer; }
    .five .layout label:hover {
      color: #78b721; }
  .five .layout input {
    margin-right: 3px; }

.content.six {
  background-color: #78b721;
  height: 400px; }
  .content.six h1 {
    display: block;
    color: #FFF; }
    .content.six h1 span {
      color: #FFF; }
  .content.six .nav {
    padding-top: 20px;
    clear: both;
    overflow: auto;
    text-align: center; }
    .content.six .nav button {
      padding: 10px;
      font-size: 15px;
      font-weight: 200;
      background-color: #666;
      color: #FFF;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.5s ease; }
      .content.six .nav button:hover {
        background-color: #78b721; }
  .content.six .demo {
    margin: 0 auto;
    width: 600px;
    height: 100%;
    overflow: hidden;
    position: relative; }
  .content.six .bubble {
    border-radius: 50%;
    position: absolute; }
  .content.six .smallBubble {
    width: 20px;
    height: 20px;
    background-color: rgba(255, 255, 255, 0.55); }
  .content.six .mediumBubble {
    width: 30px;
    height: 30px;
    background-color: rgba(255, 255, 255, 0.75); }
  .content.six .largeBubble {
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.65); }

.seven h1 {
  color: #FFF; }
  .seven h1 span {
    color: #FFF; }

.seven #firefly canvas {
  padding: 0;
  margin: 0;
  overflow: hidden;
  border-radius: 10px; }
